*{
    margin: 0px;
}
.regbody{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 970px;
    flex-direction: column;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsOwBNhZ7qk1QQZ7t6Vaq8cM3rfKWCkWSL7g&s');
    background-size: cover;
    gap: 40px;
}

.logbody{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 970px;
    flex-direction: column;
    background-image: url('https://4kwallpapers.com/images/wallpapers/night-sky-colorful-3440x1440-12510.jpg');
    background-size: cover;
    gap: 40px;

}

.regbox{
    width: 550px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
    backdrop-filter: 20px;
    backdrop-filter:blur(20px);
}

.regbox label{
    padding-top:20px;
}

input{
    width: 200px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;

}
button{
    margin-top: 20px;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
button:hover{
    background-color: black;
    color: white;
}